<main id="maincontent" class="webLayout">
  <div class="nhsuk-width-container">

    <!-- Form for creating a new SymptomLog -->
    <%= form_with model: @symptom_log, url: your_symptoms_path, local: true do |form| %>
      <div class="nhsuk-form-group">
        <%= form.label :date, class: 'nhsuk-label' %>
        <%= form.text_field :date, class: 'nhsuk-input' %>
      </div>
      <div class="nhsuk-form-group">
        <%= form.label :symptom, class: 'nhsuk-label' %>
        <%= form.select :symptom, options_for_select(['Abdominal bloating', 'Abdominal cramping', 'Abdominal distension', 'Abdominal pain']), { include_blank: 'Select a symptom' }, class: 'nhsuk-select' %>
      </div>
      <div class="nhsuk-form-group">
        <%= form.label :severity, class: 'nhsuk-label' %>
        <div class="nhsuk-radios nhsuk-radios--inline">
          <%= form.radio_button :severity, 'Mild', id: 'severity_mild' %>
          <%= form.label :severity_mild, 'Mild', class: 'nhsuk-label nhsuk-radios__label' %>
          <%= form.radio_button :severity, 'Moderate', id: 'severity_moderate' %>
          <%= form.label :severity_moderate, 'Moderate', class: 'nhsuk-label nhsuk-radios__label' %>
          <%= form.radio_button :severity, 'Severe', id: 'severity_severe' %>
          <%= form.label :severity_severe, 'Severe', class: 'nhsuk-label nhsuk-radios__label' %>
        </div>
      </div>
      <div class="nhsuk-form-group">
        <%= form.label :start_time, class: 'nhsuk-label' %>
        <%= form.text_field :start_time, class: 'nhsuk-input', type: 'datetime-local' %>
      </div>
      <div class="nhsuk-form-group">
        <%= form.label :end_time, class: 'nhsuk-label' %>
        <%= form.text_field :end_time, class: 'nhsuk-input', type: 'datetime-local' %>
      </div>
      <div class="button-container">
        <%= form.submit 'Add symptom', class: 'nhsuk-button nhsuk-button--secondary' %>
      </div>
    <% end %>

    <!-- Table displaying existing symptom logs -->
    <table class="nhsuk-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Symptom</th>
          <th>Severity</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @symptom_logs.each do |log| %>
          <tr>
            <td><%= log.date %></td>
            <td><%= log.symptom %></td>
            <td><%= log.severity %></td>
            <td><%= log.start_time.strftime("%Y-%m-%d %H:%M") if log.start_time %></td>
            <td><%= log.end_time.strftime("%Y-%m-%d %H:%M") if log.end_time %></td>
            <td>
              <%= form_with(model: log, url: destroy_symptom_log_path(log), method: :delete, local: true) do |form| %>
                <%= form.submit 'Delete', class: 'nhsuk-button nhsuk-button--warning' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</main>




    
  