<!DOCTYPE html>
<html>
  <head>
    <title>Bitebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Styles -->
    <%= stylesheet_link_tag "application", "nhsuk-8.3.0.min.css"%>

    <!-- Scripts -->
    <script src="nhsuk-8.3.0.min.js" defer></script>

    <!-- Favicons -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="apple-touch-icon-180x180.png">
    <link rel="mask-icon" href="favicon.svg" color="#005eb8">
    <link rel="icon" sizes="192x192" href="favicon-192x192.png">
    <meta name="msapplication-TileImage" content="mediumtile-144x144.png">
    <meta name="msapplication-TileColor" content="#005eb8">
    <meta name="msapplication-square70x70logo" content="smalltile-70x70.png">
    <meta name="msapplication-square150x150logo" content="mediumtile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="widetile-310x150.png">
    <meta name="msapplication-square310x310logo" content="largetile-310x310.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render '/shared/navbar' %>
    <%= yield %>
  </body>
</html>
